.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
  }

  :host {
    --midnight-green: #114b5f;
    --sea-green: #4ed2ce;
    --celadon: #4facaf;
    --tea-green: #cadae4;
    --parchment: #f3e9d2;
    --white: #ffffff;
    --light-text: #f0f0f0;
  }